.home {
  display: flex;
  flex-direction: column;
}

.banner {
  margin: 3.8rem 0px;
  width: 100%;
}

/* .slick-slider:nth-child()
  dar um display none no button
*/


.ContainerSessions {
/* background-color: blueviolet; */
/* padding: 30px; */
display: flex;
flex-direction: column;
gap: 50px;
}