.home {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
}

.marginToTop {
  margin-top: 2rem;
}

/* .slick-slider:nth-child()
  dar um display none no button
*/

.ContainerSessions {
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}
