.card img {
  margin: 0 auto;
  object-fit: cover;
  height: 68%;
  width: 80%;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.info p {
  height: 10ch;
  overflow: hidden;
}

.area_buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}

.area_buttons button {
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.area_buttons button:hover,
.area_buttons a:hover {
  color: #c3c1c1;
}
